.bg-main{
  background-color: #0CC911;
}
.headings{
  margin-left: 60px;
  margin-top: 30px;
  font-size: xx-large;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
.resize-img{
    width: 100%;
    height: 20rem;
    background-size: 100% 100%;
}
.bg-complimentary{
  background-color: #FFA95C;
}
.bg-form{
   background-image: linear-gradient(#0CC911, #80db8f);
   background-attachment: fixed;
}
.login-pos{
  margin: auto;
  margin-top: 60px; 
  width: 50%;
}

.my-link {
  text-decoration: none;
}

.resize-img{
  width: 100%;
  height: 20rem;
  background-size: 100% 100%;
}
.bg-complimentary{
background-color: #FFA95C;
}
.bg-form{
 background-image: linear-gradient(#0CC911, #80db8f);
 background-attachment: fixed;
}
.login-pos{
margin-top: 200px; 
}
.card-in{
 margin-left:15px;
}

.space{
  margin-top: 20px;
}
.logo{
  margin-left: 30px;
}
.cards-div{
  margin-left: 10px;
  margin-top: 30px;
  
}
.cards{
  margin-left: 50px;
  margin-top: 30px;
}
